.button {
  width: 140px;
  line-height: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-weight:bold;
  float: left;
  -webkit-box-shadow: 0px 0px 0px 3px #fff;
          box-shadow: 0px 0px 0px 3px #fff;
  -webkit-transition: color 0.2s, all 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, all 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: color 0.2s, all 0.2s, box-shadow 0.2s;
  transition: color 0.2s, all 0.2s, box-shadow 0.2s;
  transition: color 0.2s, all 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.button a {
  text-decoration: none;
  color:white;
}

.button:hover {
  color: #000;
  -webkit-box-shadow: 0px 0px 0px 6px #fff;
          box-shadow: 0px 0px 0px 6px #fff;
  background: #fff;
}

.button:hover a {
  color: #000;
}

.button:first-of-type {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.button:last-of-type {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.button.active {
  background-color:white;
  color:black;
}
